.stories-section__container {
  margin-bottom: 15px;
}

.stories-section1 {
  margin-top: 6%;
}

.page-banner__content {
  margin: 5% auto;
}

@media (max-width: 768px) {
  .stories-section1 {
    margin-top: 25%;
  }

  .page-banner__content {
    margin: 10% auto;
  }
}